ErrorDocument 404 /repos/php-gallery/src/etc/404.php
RewriteEngine On
RewriteBase /repos/php-gallery/src/
RewriteRule ^album/([a-zA-Z0-9-]+)$ gallery.php?g=$1 [L,QSA]
RewriteRule ^album/([a-zA-Z0-9-]+)/edit$ gallery.php?g=$1&edit [L,QSA]
RewriteRule ^album/unlock/([a-zA-Z0-9-]+)$ gallery-unlock.php?g=$1 [L,QSA]
RewriteRule ^user/([a-zA-Z0-9-]+)$ users/user.php?id=$1 [L,QSA]
RewriteRule ^profile users/profile.php [L,QSA]
RewriteRule ^add-gallery add-gallery.php [L,QSA]
